<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= render 'welcome/navbar' %>

<div class="row well">
	<div class="col-md-8 col-md-offset-1">
		<p>great</p>
	</div>
</div>